---
const { title } = Astro.props
---
// src/components/Header.astro

<header id="header">
  <h1><a href="/">{{ title }}</a></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/upload">Upload Image</a></li>
      <!-- added upload link -->
    </ul>
  </nav>
</header>
